.navbar{
  height: 200px;
  width: 100%;
  position: fixed;
  top:75vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navButton-container {
    display: flex;
    background-color: rgba(0, 73, 144);
    width: 900px;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
      rgba(0, 73, 144, 0.5) 5px 10px 15px;
    transition: all 0.5s;
    
  }
  .navButton-container:hover {
    transition: all 0.5s;
  }
  
  .navButton {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .navButton:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 35px;
  }

  @media screen and (max-width:800px) {
    .navButton-container {
        width: 80vw;
        height: 60px;
      }
    .navbar{
      top: 80vh;
    }
  }


